<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="vn.remove.photo.content.qwer.AppEx"
        android:allowBackup="true"
        android:icon="@mipmap/surface"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/surface_c"
        android:supportsRtl="true"
        android:theme="@style/Theme.BirthNumerology"
        tools:targetApi="31">
        <activity
            android:name="vn.remove.photo.content.qwer.FinalActivity"
            android:exported="false" />
        <activity
            android:name="vn.remove.photo.content.qwer.Get_YearPredit"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name="vn.remove.photo.content.qwer.Set_Compatibility"
            android:exported="false" />
        <activity
            android:name="vn.remove.photo.content.qwer.ComDesActivity"
            android:exported="false" />
        <activity
            android:name="vn.remove.photo.content.qwer.Get_desActivity"
            android:exported="false" />
        <activity
            android:name="vn.remove.photo.content.qwer.ChoseActivity"
            android:exported="false" />
        <activity
            android:name="vn.remove.photo.content.qwer.Chose_BirthActivity"
            android:exported="false" />
        <activity
            android:name="vn.remove.photo.content.qwer.Write_NameActivity"
            android:exported="false" />




        <activity android:name="vn.remove.photo.content.qwer.HomeActivity"
            android:exported="true"
            android:minSdkVersion="29">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>



        <activity
            android:name="vn.remove.photo.content.qwer.FirstActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

</manifest>